/* General */

/* impor de fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * quiere decir toda la pagina */
* {
    margin: 0 ;
    padding: 0 ;
}

/* aqui ya es para cada etiqueta del documento */
body {
    font-family: Poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color : rgb(85, 85, 85);
}

/* TRANSITIONS */

a, .btn {
    transition: all 300ms ease ; /* hace que los elementos se muevan suavemente */
}

/* DESKTOP-NAV */
 nav , .nav-links{
    display: flex ; /* hace que los elementos se distribuyan en una fila */
 }

 nav {
    justify-content: space-around; /* hace que los elementos se distribuyan uniformemente */
    height: 17vh ; /* altura de la barra de navegacion */
    align-items: center ; /* alinea los elementos verticalmente */
 }

 .nav-links {
    gap: 2rem ; /* espacio entre los elementos del nav*/
    list-style: none ; /* quita los puntos de la lista */
    font-size: 1.5rem ; /* tamaño de la fuente */
 }

 a {
    color: black ; /* color de los enlaces */
    text-decoration: none ; /* quita el subrayado de los enlaces */
    text-decoration-color: white ; /* color del subrayado de los enlaces */
 }

 /* efectos para cuando el mouse pasa por encima de los enlaces */
 a:hover {
    color: grey ; /* cambia el color de los enlaces al pasar el mouse */
    text-decoration: underline ; /* subraya los enlaces al pasar el mouse */
    text-underline-offset: 1rem ; /* distancia del subrayado de los enlaces */
    text-decoration-color: rgb(181, 181, 181) ; /* color del subrayado de los enlaces */
 }

 
 .logo { 
    font-size: 2rem ; /* tamaño de la fuente del logo */
 }

 .logo:hover {
    cursor: default ; /* para que el cursor no cambie al pasar el mouse por encima del logo */
 }

 /* HAMBURGER MENU */
 #mobile-nav {
    display: none ; /* oculta el menu hamburguesa */
 }

.hamburger-menu{
   position: relative ; /* posiciona el menu hamburguesa */
   display: inline-block ; /* hace que el menu hamburguesa se muestre en una fila */
}

.hamburger-icon{
   display: flex ; /* hace que los elementos se distribuyan en una fila */
   flex-direction: column ; /* distribuye los elementos en una columna */
   justify-content: space-between ; /* distribuye los elementos uniformemente */
   height: 24px ; /* altura del menu hamburguesa */
   width: 30px ; /* ancho del menu hamburguesa */
   cursor: pointer ; /* cambia el cursor al pasar el mouse por encima del menu hamburguesa */
}

.hamburger-icon span {
   width: 100% ; /* ancho de las lineas del menu hamburguesa */
   height: 2px ; /* altura de las lineas del menu hamburguesa */
   background-color: black ; /* color de las lineas del menu hamburguesa */
   transition: all 0.3 ease-in-out;
}

.menu-links {
   position: absolute ; /* posiciona el menu hamburguesa */
   top: 100% ; /* posiciona el menu hamburguesa */
   right: 0 ; /* posiciona el menu hamburguesa */
   background-color: white ; /* color de fondo del menu hamburguesa */
   width: fit-content ; /* ancho del menu hamburguesa */
   max-height: 0 ; /* altura del menu hamburguesa */
   overflow: hidden ; /* oculta el contenido del menu hamburguesa */
   transition: all 0.3s ease-in-out ; /* hace que el menu hamburguesa se muestre suavemente */
}

.menu-links a {
   display: block ; /* hace que los enlaces del menu hamburguesa se muestren en una fila */
   padding: 10px; /* espacio entre los enlaces del menu hamburguesa */
   text-align: center ; /* alinea los enlaces del menu hamburguesa al centro */
   font-size: 1.5rem ; /* tamaño de la fuente del menu hamburguesa */
   color: black ; /* color de los enlaces del menu hamburguesa */
   text-decoration: none ; /* quita el subrayado de los enlaces del menu hamburguesa */
   transition: all 0.3s ease-in-out ; /* hace que el menu hamburguesa se muestre suavemente */
}

.menu-links li {
   list-style: none ; /* quita los puntos de la lista del menu hamburguesa */

}

.menu-links.open {
   max-height: 300px ; /* altura del menu hamburguesa */
}

.hamburger-icon.open span:first-child {
   transform: rotate(45deg) translate(10px, 5px) ; /* rota la primera linea del menu hamburguesa */
}

.hamburger-icon.open span:nth-child(2) {
   opacity: 0 ; /* oculta la segunda linea del menu hamburguesa */
}

.hamburger-icon.open span:last-child {
   transform: rotate(-45deg) translate(10px, -5px) ; 
}

.hamburger-icon span:first-child {
   transform: none ; /* no rota la primera linea del menu hamburguesa */
}

.hamburger-icon span:first-child {
   opacity: 1 ; /* muestra la segunda linea del menu hamburguesa */
}

.hamburger-icon span:first-child {
   transform: none ; /* no rota la primera linea del menu hamburguesa */
}

/* SECTIONS */

section {
   padding-top: 4vh ; /* espacio entre la parte superior de la seccion y el contenido */
   height: 96vh ; /* altura de la seccion */
   margin: 0 10rem; /* margen de la seccion */
   box-sizing: border-box ; /* incluye el padding y el margen en el tamaño de la seccion */
   min-height: fit-content ; /* altura minima de la seccion */
}

.section-container {
   display: flex ; /* hace que los elementos se distribuyan en una fila */
}

/* PROFILE SECTION */ 

#profile {
   display: flex ; /* hace que los elementos se distribuyan en una fila */
   justify-content: center ; /* alinea los elementos al centro */
   gap: 5rem ; /* espacio entre los elementos */
   height: 80vh ; /* altura de la seccion */
}

.section__pic-container {
   display: flex; /* hace que los elementos se distribuyan en una fila */
   height: 400px ; /* altura de la seccion */
   width: 400px ; /* ancho de la seccion */
   margin: auto 0 ; /* margen de la seccion */
}

.section__text {
   align-self:  center ; /* alinea los elementos al centro */
   text-align: center ; /* alinea el texto al centro */
}

.section__text p {
   font-weight: 600;
}

.section__text__p1 {
   text-align: center ; /* alinea el texto al centro */
}

.section__text__p2 {
   font-size: 1.75rem ; /* tamaño de la fuente */
   margin-bottom: 1rem ; /* espacio entre el texto y la imagen */
}

.title {
   font-size: 3rem ; /* tamaño de la fuente */
   text-align: center ; /* alinea el texto al centro */
}

#socials-container {
   display: flex ; /* hace que los elementos se distribuyan en una fila */
   justify-content: center ; /* alinea los elementos al centro */
   margin-top: 1rem ; /* espacio entre el texto y la imagen */
   gap: 1rem ; /* espacio entre los elementos */
}

/* ICONS */
.icon {
   cursor: pointer ; /* cambia el cursor al pasar el mouse por encima del icono */
   height: 2rem ; /* altura del icono */
}

/* BUTTONS */
.btn-container {
   display: flex ; /* hace que los elementos se distribuyan en una fila */
   justify-content: center ; /* alinea los elementos al centro */
   gap: 1rem ; /* espacio entre los elementos */
}

.btn {
   font-weight: 600 ; /* peso de la fuente */
   transition: all 300ms ease ; /* hace que los elementos se muevan suavemente */
   padding: 1rem ; /* espacio entre el texto y el boton */
   width: 8rem ; /* ancho del boton */
   border-radius: 2rem ; /* bordes redondeados del boton */
}

.btn-color-1 , .btn-color-2 {
   border: rgb(53, 53, 53) 0.1rem solid ; /* borde del boton */
}

.btn-color-1:hover , .btn-color-2:hover {
   cursor: pointer ; /* cambia el cursor al pasar el mouse por encima del boton */
}

.btn-color-1 , .btn-color-2:hover {
   background: rgb(53, 53, 53) ; /* color de fondo del boton */
   color: white ; /* color del texto del boton */
}

.btn-color-1:hover {
   background: rgb(0, 0, 0) ; /* color de fondo del boton */
}

.btn-color-2 {
   background: none ;;
}

.btn-color-2:hover {
   border: rgb(255, 255, 255) 0.1rem solid ; /* borde del boton */
}

.btn-container {
   gap: 1rem ; /* espacio entre los elementos */
}

/* ABAUT SECTION */
#about {
   position: relative ; /* posiciona la seccion */
}

.about-containers {
   gap: 2rem ; /* espacio entre los elementos */
   margin-bottom: 2rem ; /* espacio entre la parte inferior de la seccion y el contenido */
   margin-top: 2rem ; /* espacio entre la parte superior de la seccion y el contenido */
}

.about-details-container {
   justify-content: center ; /* alinea los elementos al centro */
   flex-direction: column ; /* distribuye los elementos en una columna */
} 

.about-containers , .about-details-container {
   display: flex ; /* hace que los elementos se distribuyan en una fila */
}

.about-pic {
   border-radius: 2rem ; /* bordes redondeados de la imagen */
}

.arrow {
   position: absolute ; /* posiciona la flecha */
   right: -5rem ; /* posiciona la flecha */
   bottom: 2.5rem ; /* posiciona la flecha */
}

.details-containers {
   padding: 1.5rem ; /* espacio entre el texto y la imagen */
   flex: 1 ; /* hace que el contenedor ocupe todo el espacio disponible */
   background: white ; /* color de fondo del contenedor */
   border-radius: 2rem ; /* bordes redondeados del contenedor */
   border: rgb(53, 53, 53) 0.1rem solid ; /* borde del contenedor */
   border-color: rgb(163, 163, 163) ; /* color del borde del contenedor */
   text-align: center ; /* alinea el texto al centro */
}

.section-container {
   gap: 4rem ; /* espacio entre los elementos */
   height: 80% ; /* altura de la seccion */
}

.section__pic-container {
   height: 400px ; /* altura de la seccion */
   width: 400px ; /* ancho de la seccion */
   margin: auto 0 ; /* margen de la seccion */
}

/* EXPERIENCE SECTION */
#experience {
   position: relative;
}

.experience-sub-title {
   color: rgb(85, 85, 85) ; /* color del texto */
   font-weight: 600 ; /* peso de la fuente */
   font-size: 1.75rem ; /* tamaño de la fuente */
   margin-bottom: 2rem ; /* espacio entre el texto y la imagen */
}

.experience-details-contaider {
   display: flex ; /* hace que los elementos se distribuyan en una fila */
   justify-content: center ; /* alinea los elementos al centro */
   flex-direction: column ; /* distribuye los elementos en una columna */
}

.article-container {
   display: flex ;
   text-align: initial ; /* alinea el texto al inicio */
   flex-wrap: wrap ; /* hace que los elementos se distribuyan en varias filas */
   flex-direction: row ; /* distribuye los elementos en una fila */
   gap: 2.5rem ; /* espacio entre los elementos */
   justify-content: space-around ; /* distribuye los elementos uniformemente */
}

article {
   display: flex ;
   width: 10rem ; /* ancho del articulo */
   justify-content: space-around ; /* distribuye los elementos uniformemente */
   gap: 0.5rem ; /* espacio entre los elementos */
}

article .icon {
   cursor: default ; /* cambia el cursor al pasar el mouse por encima del icono */
}



