/* General */

/* impor de fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * quiere decir toda la pagina */
* {
    margin: 0 ;
    padding: 0 ;
}

/* aqui ya es para cada etiqueta del documento */
body {
    font-family: Poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color : rgb(85, 85, 85);
}

/* TRANSITIONS */

a, .btn {
    transition: all 300ms ease ; /* hace que los elementos se muevan suavemente */
}

/* DESKTOP-NAV */
 nav , .nav-links{
    display: flex ; /* hace que los elementos se distribuyan en una fila */
 }

 nav {
    justify-content: space-around; /* hace que los elementos se distribuyan uniformemente */
    height: 17vh ; /* altura de la barra de navegacion */
    align-items: center ; /* alinea los elementos verticalmente */
 }

 .nav-links {
    gap: 2rem ; /* espacio entre los elementos del nav*/
    list-style: none ; /* quita los puntos de la lista */
    font-size: 1.5rem ; /* tamaño de la fuente */
 }

 a {
    color: black ; /* color de los enlaces */
    text-decoration: none ; /* quita el subrayado de los enlaces */
    text-decoration-color: white ; /* color del subrayado de los enlaces */
 }

 /* efectos para cuando el mouse pasa por encima de los enlaces */
 a:hover {
    color: grey ; /* cambia el color de los enlaces al pasar el mouse */
    text-decoration: underline ; /* subraya los enlaces al pasar el mouse */
    text-underline-offset: 1rem ; /* distancia del subrayado de los enlaces */
    text-decoration-color: rgb(181, 181, 181) ; /* color del subrayado de los enlaces */
 }

 
 .logo { 
    font-size: 2rem ; /* tamaño de la fuente del logo */
 }

 .logo:hover {
    cursor: default ; /* para que el cursor no cambie al pasar el mouse por encima del logo */
 }

 /* HAMBURGER MENU */
 #mobile-nav {
    display: none ; /* oculta el menu hamburguesa */
 }

.hamburger-menu{
   position: relative ; /* posiciona el menu hamburguesa */
   display: inline-block ; /* hace que el menu hamburguesa se muestre en una fila */
}

.hamburger-icon{
   display: flex ; /* hace que los elementos se distribuyan en una fila */
   flex-direction: column ; /* distribuye los elementos en una columna */
   justify-content: space-between ; /* distribuye los elementos uniformemente */
   height: 24px ; /* altura del menu hamburguesa */
   width: 30px ; /* ancho del menu hamburguesa */
   cursor: pointer ; /* cambia el cursor al pasar el mouse por encima del menu hamburguesa */
}

.hamburger-icon span {
   width: 100% ; /* ancho de las lineas del menu hamburguesa */
   height: 2px ; /* altura de las lineas del menu hamburguesa */
   background-color: black ; /* color de las lineas del menu hamburguesa */
   transition: all 0.3 ease-in-out;
}

.menu-links {
   position: absolute ; /* posiciona el menu hamburguesa */
   top: 100% ; /* posiciona el menu hamburguesa */
   right: 0 ; /* posiciona el menu hamburguesa */
   background-color: white ; /* color de fondo del menu hamburguesa */
   width: fit-content ; /* ancho del menu hamburguesa */
   max-height: 0 ; /* altura del menu hamburguesa */
   overflow: hidden ; /* oculta el contenido del menu hamburguesa */
   transition: all 0.3s ease-in-out ; /* hace que el menu hamburguesa se muestre suavemente */
}

.menu-links a {
   display: block ; /* hace que los enlaces del menu hamburguesa se muestren en una fila */
   padding: 10px; /* espacio entre los enlaces del menu hamburguesa */
   text-align: center ; /* alinea los enlaces del menu hamburguesa al centro */
   font-size: 1.5rem ; /* tamaño de la fuente del menu hamburguesa */
   color: black ; /* color de los enlaces del menu hamburguesa */
   text-decoration: none ; /* quita el subrayado de los enlaces del menu hamburguesa */
   transition: all 0.3s ease-in-out ; /* hace que el menu hamburguesa se muestre suavemente */
}

.menu-links li {
   list-style: none ; /* quita los puntos de la lista del menu hamburguesa */

}

.menu-links.open {
   max-height: 300px ; /* altura del menu hamburguesa */
}

.hamburger-icon.open span:first-child {
   transform: rotate(45deg) translate(10px, 5px) ; /* rota la primera linea del menu hamburguesa */
}

.hamburger-icon.open span:nth-child(2) {
   opacity: 0 ; /* oculta la segunda linea del menu hamburguesa */
}

.hamburger-icon.open span:last-child {
   transform: rotate(-45deg) translate(10px, -5px) ; 
}

.hamburger-icon span:first-child {
   transform: none ; /* no rota la primera linea del menu hamburguesa */
}

.hamburger-icon span:first-child {
   opacity: 1 ; /* muestra la segunda linea del menu hamburguesa */
}

.hamburger-icon span:first-child {
   transform: none ; /* no rota la primera linea del menu hamburguesa */
}

